.cloud
.storage
deps
tts
__pycache__

appdaemon/compiled

.ios.conf
.ring_cache.pickle
ecobee.conf
home-assistant_v2.db
home-assistant.log
ip_bans.yaml
known_devices.yaml
life360.conf
OZW_Log.txt
plex.conf
pyozw.sqlite
sabnzbd.conf
secrets.yaml
ui-lovelace.yaml
zwcfg_0xc13cc76f.xml
zwscene.xml
